{
  "version": "2018-05-29",
  "operation": "Query",
  "index": "ShortIdIndex",
  "query": {
    "expression": "short_id = :shortId",
    "expressionValues": {
      ":shortId": $util.dynamodb.toDynamoDBJson($ctx.args.shortId)
    }
  },
  "limit": 1
}